<div class="panel">
    <div class="row" style="height:40px">
        <div class="col-md-12">
            <a href="#" class="btn backBtn" ng-click="back()"><span class="fa fa-chevron-left" style="font-size: 160%;color:#808080;"></span></span></span>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <div>
            <h3 class="one-border text-left">合同基本信息</h3>
            <div class="portlet light  bordered">
                <div class="form-group col-md-6">
                    <div class="control-label col-md-3 text-right">需求名称<span
                            class="text-danger">:</span></div>
                    <div class="col-md-8">
                        <div class="control-label" ng-model="model.needType" style="color: red">此处及以下绑定字段。</div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="control-label col-md-3 text-right">客户名称<span
                            class="text-danger">:</span></div>
                    <div class="col-md-8">
                        <div class="control-label" ng-model="model.csName"></div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="control-label col-md-3  text-right">合同名称<span
                            class="text-danger">:</span></div>
                    <div class="col-md-8">
                        <div class="control-label" ng-model="model.agreeName"></div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="control-label col-md-3  text-right">合同总金额<span
                            class="text-danger">:</span></div>
                    <div class="col-md-8">
                        <div class="control-label" ng-model="model.agreeAccount'"></div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="control-label col-md-3  text-right">合同开始时间<span
                            class="text-danger">:</span></div>
                    <div class="col-md-8">
                        <div class="control-label" ng-model="model.password"></div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="control-label col-md-3  text-right">合同结束时间<span
                            class="text-danger">:</span></div>
                    <div class="col-md-8">
                        <div class="control-label" ng-model="model.password"></div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="control-label col-md-3  text-right">合同签署时间<span
                            class="text-danger">:</span></div>
                    <div class="col-md-8">
                        <div class="control-label" ng-model="model.password"></div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="control-label col-md-3  text-right">阶段收款次数<span
                            class="text-danger">:</span></div>
                    <div class="col-md-8">
                        <div class="control-label" ng-model="model.password"></div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="control-label col-md-3  text-right">创建时间<span
                            class="text-danger">:</span></div>
                    <div class="col-md-8">
                        <div class="control-label" ng-model="model.password"></div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="control-label col-md-3  text-right">创建人<span
                            class="text-danger">:</span></div>
                    <div class="col-md-8">
                        <div class="control-label" ng-model="model.password"></div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="control-label col-md-3  text-right">合同关闭时间<span
                            class="text-danger">:</span></div>
                    <div class="col-md-8">
                        <div class="control-label" ng-model="model.password"></div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="control-label col-md-3  text-right">合同关闭人<span
                            class="text-danger">:</span></div>
                    <div class="col-md-8">
                        <div class="control-label" ng-model="model.password"></div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="control-label col-md-3 text-right">合同正文<span
                            class="text-danger">:</span></div>
                    <div class="col-md-8">
                        <div class="control-label" ng-model="model.password"></div>
                    </div>
                </div>
                <div class=""></div>
                <div class="form-group col-md-6">
                    <div class="control-label col-md-3 text-right">合同附件<span
                            class="text-danger">:</span></div>
                    <div class="col-md-8">
                        <div class="control-label" ng-model="model.password"></div>
                    </div>
                </div>
                <!--<div class="form-group col-sm-12">-->
                    <!--<div class="control-label col-sm-1 text-left one-border">需求补充<span-->
                            <!--class="text-danger">:</span></div>-->
                <!--</div>-->
                <!--<div class="col-md-8 portlet light  bordered">-->
                    <!--<div class="control-label" ng-model="model.password"></div>-->
            <!--</div>-->
            <div style="clear:both"></div>
        </div>
            <div>
                <h3 class="one-border text-left">客户账户信息</h3>
                <div class="portlet light  bordered">
                    <div class="form-group col-md-6">
                        <div class="control-label col-md-3 text-right">企业名称<span
                                class="text-danger">:</span></div>
                        <div class="col-md-8">
                            <div class="control-label" ng-model="model.password" style="color: red">此处及以下绑定字段。</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="control-label col-md-3 text-right">税号<span
                                class="text-danger">:</span></div>
                        <div class="col-md-8">
                            <div class="control-label" ng-model="model.password"></div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="control-label col-md-3 text-right">开户银行<span
                                class="text-danger">:</span></div>
                        <div class="col-md-8">
                            <div class="control-label" ng-model="model.password" style="color: red">此处及以下绑定字段。</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="control-label col-md-3 text-right">开户账号<span
                                class="text-danger">:</span></div>
                        <div class="col-md-8">
                            <div class="control-label" ng-model="model.password"></div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="control-label col-md-3 text-right">地址<span
                                class="text-danger">:</span></div>
                        <div class="col-md-8">
                            <div class="control-label" ng-model="model.password" style="color: red">此处及以下绑定字段。</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="control-label col-md-3 text-right">电话<span
                                class="text-danger">:</span></div>
                        <div class="col-md-8">
                            <div class="control-label" ng-model="model.password"></div>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
            <div>
                <h3 class="one-border text-left">收款阶段</h3>
                <div class="portlet light  bordered">

                </div>
            </div>
            <div>
                <h3 class="one-border text-left">收款记录</h3>
                <div class="portlet light  bordered">

                </div>
            </div>
            <div>
                <h3 class="one-border text-left">终止原因</h3>
                <div class="portlet light  bordered">
                    <div class="form-group col-md-6">
                        <div class="control-label col-md-3 text-right">终止原因<span
                                class="text-danger">:</span></div>
                        <div class="col-md-8">
                            <div class="control-label" ng-model="model.password" style="color: red">此处及以下绑定字段。</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="control-label col-md-3 text-right">终止时间<span
                                class="text-danger">:</span></div>
                        <div class="col-md-8">
                            <div class="control-label" ng-model="model.password"></div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="control-label col-md-3 text-right">其他说明<span
                                class="text-danger">:</span></div>
                        <div class="col-md-8">
                            <div class="control-label" ng-model="model.password" style="color: red">此处及以下绑定字段。</div>
                        </div>
                    </div>
                    <div class="col-sm-12"></div>
                    <div class="form-group col-md-6">
                        <div class="control-label col-md-3 text-right">上传附件<span
                                class="text-danger">:</span></div>
                        <div class="col-md-8">
                            <div class="control-label" ng-model="model.password"></div>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>

    </div>
</div>