<div class="panel">
    <div class="row">
        <div class="col-md-12">
            <a href="#" class="btn backBtn" ng-click="back()"><span class="fa fa-chevron-left"
                                                                    style="font-size: 160%;color:#808080;"></span></span></span>
            </a>
        </div>
    </div>

    <!--团队基本信息-->
    <!--<div class="panel-heading">-->
    <!--<div class="portlet-title">-->
    <!--<div class="caption">-->
    <!--<div class="one-border">-->
    <!--团队基本信息-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="panel-body">
        <div>
            <div class="portlet light  bordered">
                <div class="portlet-body form" style="display: block;">
                    <!-- BEGIN FORM-->
                    <form name="form" class="form-horizontal" novalidate>
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-8" style="margin: 20px;border-right: #e5e5e5 solid 1px">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">用户名 :</label>
                                                <label class="col-md-9 form-control-label">{{model.name}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">手机号 :</label>
                                                <label class="col-md-9 form-control-label">{{model.parentTitle}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">邮箱 :</label>
                                                <label class="col-md-9 form-control-label">{{model.href}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">姓名 :</label>
                                                <label class="col-md-9 form-control-label">{{model.href}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">性别 :</label>
                                                <label class="col-md-9 form-control-label">{{model.sortNum}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">生日 :</label>
                                                <label class="col-md-9 form-control-label">{{model.sortNum}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">国家 :</label>
                                                <label class="col-md-9 form-control-label">{{model.sortNum}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">省/城市 :</label>
                                                <label class="col-md-9 form-control-label">{{model.sortNum}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">详细地址 :</label>
                                                <label class="col-md-9 form-control-label">{{model.sortNum}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">个人主页 :</label>
                                                <label class="col-md-9 form-control-label">{{model.sortNum}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">行业领域 :</label>
                                                <label class="col-md-9 form-control-label">{{model.sortNum}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">个人简介 :</label>
                                                <label class="col-md-9 form-control-label">{{model.sortNum}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <img src="">
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>

</div>