<div class="panel panel-default">
    <div class="row">
        <div class="col-md-12">
            <a href="#" class="btn backBtn" ng-click="back()"><span class="fa fa-chevron-left" style="font-size: 160%;color:#808080;"></span></span></span></a>
        </div>
    </div>

    <div class="panel-body">
        <ng-table
                columns="columns"
                sort="sort"
                order="order"
                pageable="pageable"
                rows="rows">
        </ng-table>
    </div>
</div>