<div class="panel">
    <div class="row">
        <div class="col-md-12">
            <a  class="btn backBtn" ng-click="back()"><span class="fa fa-chevron-left" style="font-size: 160%;color:#808080;"></span></span></span></a>

        </div>
    </div>
    <div class="panel-body margin-edit">
        <div>
            <div class="portlet light  bordered">
                <div class="portlet-body form" style="display: block;">
                    <!-- BEGIN FORM-->
                    <form name="form" class="form-horizontal" novalidate>
                        <div class="form-body">
                            <!--<div class="half-page eidt-pull-left">-->

                            <div class="row">
                                <div class="col-md-12 col-md-offset-5 ">
                                    <div class="form-group">
                                        <div class="col-md-2 " style="margin-left: -2.5%">
                                            您已成功修改绑定的手机号
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12  col-md-offset-5">

                                    <div class="form-group">

                                        <div class="col-md-1">
                                            <button type="button" class="btn button-orange" ng-click="phoneok(form)">&nbsp;<span>确认 </span></button>


                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div style="clear:both">
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
</div>



