<!-- BEGIN Portlet PORTLET-->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="portlet-title">
            <div class="caption">
                <div class="one-border">
                    {{$state.current.data.pageTitle}}
                </div>
            </div>
        </div>
        <!--<div class="tools">-->
        <!--<button type="button" class="btn btn-circle btn-default" data-toggle="collapse" data-target="#condition"-->
        <!--aria-expanded="true" aria-controls="search">-->
        <!--<i class="fa fa-angle-down"></i>-->
        <!--</button>-->
        <!--</div>-->
    </div>
    <div class="panel-body form-group">
        <div class="">
            <img style="width: 100%;height: 100%;" src="../assets/admin/pages/img/dash.png"/>
        </div>
    </div>
</div>