<div class="page-footer-inner">
	<div class="footer-des">
		<div class="bottom-logo"></div>
		<a class="footer-first">http://www.uni-orange.com</a>
		<a>橙色云设计有限公司</a><br/>
		<a>联系电话 4008001557</a>
	</div>
	<div class="footer-col">
		<a class="foot-content-title">新人</a>
		<a class="footer-first">新人上路</a>
		<a>注册</a><br/>
		<a>帮助中心</a>
	</div>
	<div class="footer-col">
		<a class="foot-content-title">需求</a>
		<a class="footer-first">需求方</a>
		<a>发布需求</a>
	</div>
	<div class="footer-col">
		<a class="foot-content-title">承接</a>
		<a class="footer-first">承接方</a>
		<a>承接任务</a>
	</div>
	<div class="footer-col">
		<a class="foot-content-title">保障</a>
		<a class="footer-first">服务保障</a>
		<a>交易保证</a><br/>
		<a>技术保密</a><br/>
		<a>知识产权政策</a>
	</div>
	<div class="footer-col code-content">
		<img class="footer-code" src="./assets/admin/layout/img/code.png"/><br/>
		<a class="code-content">扫码关注</a>
	</div>
	<a class="copyright">橙色云设计有限公司 授权所有 京ICP备16067894号</a>
</div>
<div class="scroll-to-top">
	<i class="icon-arrow-up"></i>
</div>