<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200"
        ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <!--<li class="sidebar-toggler-wrapper">-->
            <!--&lt;!&ndash; BEGIN SIDEBAR TOGGLER BUTTON &ndash;&gt;-->
            <!--<div class="sidebar-toggler" style="width: 30px;height: 27px;">-->
            <!--</div>-->
            <!--&lt;!&ndash; END SIDEBAR TOGGLER BUTTON &ndash;&gt;-->
        <!--</li>-->
        <!--<br/>-->
        <li ng-repeat="firstMenu in menus" >
            <a ng-href="{{firstMenu.href}}">
                <i class="{{firstMenu.className}}"></i>
                <span class="title" ng-bind="firstMenu.title"></span>
                <span ng-if="isEmptySubMenus(firstMenu.subMenus)" class="arrow"></span>
            </a>
            <ul ng-if="isEmptySubMenus(firstMenu.subMenus)" class="sub-menu">
                <li ng-repeat="secondMenu in firstMenu.subMenus">
                    <a ng-href="{{secondMenu.href}}">
                        <i class="{{secondMenu.className}}"></i>
                        <span class="title">{{secondMenu.title}}</span>
                        <span ng-if="isEmptySubMenus(secondMenu.subMenus)" class="arrow"></span>
                    </a>
                    <ul ng-if="isEmptySubMenus(secondMenu.subMenus)" class="sub-menu">
                        <li ng-repeat="thirdMenu in secondMenu.subMenus">
                            <a ng-href="{{thirdMenu.href}}">
                                <i class="{{thirdMenu.className}}"></i>
                                <span class="title">{{thirdMenu.title}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>