<script type="text/ng-template" id="operation.html">
    <div class="row">
        <div class="text-center">
            <a href="javascript:void(0)" class="blue" data-ng-click="onActionClick(row.id,'view')"> 查看 &nbsp;</a>
            <a href="javascript:void(0)" class="blue" data-ng-click="onActionClick(row.id,'edit')"> 编辑 &nbsp;</a>
            <a href="javascript:void(0)" class="blue" data-ng-click="onActionClick(row.id,'delete')"> 删除 &nbsp;</a>
        </div>
    </div>

</script>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="btn backBtn" ng-click="back()" style="margin-left: 0px">
                    <span class="fa fa-chevron-left" style="font-size: 160%;color:#808080;"></span></span></span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--<div class="dropdown  btn-group pull-left ">-->
                <!--<button type="button" class="btn blue" ng-show="backButtonShow" ng-click="back(backParentMenuId)">-->
                <!--<i class="fa fa-mail-reply"></i>&nbsp;<span>返回上一级 </span>-->
                <!--</button>-->
                <!--<button type="button" class="btn button-orange button-offset-margin" ng-click="create()">-->
                <!--<span>新增 </span>-->
                <!--</button>-->
                <!--</div>-->
                <!--<div class="pull-right">-->
                <!--<form class="form-inline" role="form">-->
                <!--<div class="form-group">-->
                <!--<input type="text" class="form-control form-control-inline " autocomplete="off" ng-model="condition.query"-->
                <!--placeholder="请输入菜单标题"/>-->
                <!--</div>-->
                <!--<button type="button" class="btn button-orange button-offset-margin" ng-click="search()">-->
                <!--&nbsp;<span>查询 </span>-->
                <!--</button>-->
                <!--</form>-->
                <!--</div>-->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ng-table
                        columns="columns"
                        sort="sort"
                        order="order"
                        pageable="pageable"
                        rows="rows"
                        notpageable="notpageable">
                </ng-table>
            </div>
        </div>
    </div>
</div>

<!-- END Portlet PORTLET-->