<div class="panel">
    <div class="row">
        <div class="col-md-12">
            <a href="#" class="btn backBtn" ng-click="back()"><span class="fa fa-chevron-left" style="font-size: 160%;color:#808080;"></span></span></span></a>
        </div>
    </div>
    <div class="panel-heading">
        <div class="portlet-title">
            <div class="caption">
                <div class="one-border">
                    {{$state.current.data.pageTitle}}
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div>
            <div class="portlet light  bordered">
                <div class="portlet-body form" style="display: block;">
                    <!-- BEGIN FORM-->
                    <form name="form" class="form-horizontal" novalidate>
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">标题 :</label>
                                        <label class="form-control-label col-md-9" ng-bind="model.name"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">发送人 :</label>
                                        <label class="form-control-label col-md-9" ng-bind="model.description"></label>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">接收时间 :</label>
                                        <label class="form-control-label col-md-9" ng-bind="model.description"></label>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">内容简述 :</label>
                                        <label class="form-control-label col-md-9" ng-bind="model.description"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
</div>