<div class="panel light offset-padding">
    <div class="panel">
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="btn backBtn" ng-click="back()"><span class="fa fa-chevron-left"
                                                                        style="font-size: 160%;color:#808080;"></span></span></span>
                </a>
                <button type="submit" class="btn button-orange" ng-click="submit(form)">&nbsp;<span>发送</span></button>
            </div>
        </div>
        <div class="panel-heading">
            <div class="portlet-title">
                <div class="caption">
                    <div ng-show="currentTab=='email'" class="one-border">
                        邮件回复
                    </div>
                    <div ng-show="currentTab=='mail'" class="one-border">
                        站内信回复
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div>
                <div class="portlet light  bordered">
                    <div class="portlet-body form" style="display: block;">
                        <!-- BEGIN FORM-->
                        <form name="form" class="form-horizontal" novalidate>
                            <div class="form-body">


                                <div class="row">
                                    <div class="col-md-6"
                                        ng-class="{ 'has-error' :(form.receiver.$touched || form.$submitted ) && form.receiver.$invalid}">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 label-offset-padding ">接收人
                                                <!--<span class="text-danger">*</span>-->
                                                :</label>
                                            <div class="col-md-8">
                                                <!--<input type="text" name="name" class="form-control" placeholder="请选择"-->
                                                <!--required maxlength="255" ng-maxlength="255" ng-model="model.name" ng-readonly="id" ng-disabled="id"/>-->
                                                <input type="text" name="receiver" class="form-control"
                                                       placeholder="请输入"
                                                       required maxlength="255" ng-maxlength="255" ng-model="model.receiver"/>
                                                <div class="help-block" ng-show="form.$submitted || form.receiver.$touched"
                                                ng-messages="form.receiver.$error">
                                                <p ng-message="required">接收人不能为空</p>
                                                <p ng-message="maxlength">接收人不能超过255字符 </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12"
                                        ng-class="{ 'has-error' :(form.title.$touched || form.$submitted ) && form.title.$invalid}">
                                        <div class="form-group">
                                            <label class="control-label col-md-2 label-offset-padding">站内信标题
                                                <!--<span class="text-danger">*</span>-->
                                                :</label>
                                            <div class="col-md-8">
                                                <input type="text" name="title" class="form-control"
                                                       placeholder="请输入"
                                                       required maxlength="255" ng-maxlength="255" ng-model="model.title"/>
                                                <div class="help-block" ng-show="form.$submitted || form.title.$touched"
                                                ng-messages="form.title.$error">
                                                <p ng-message="required">站内信标题不能为空</p>
                                                <p ng-message="maxlength">站内信标题不能超过255字符</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12"
                                        ng-class="{ 'has-error' :(form.text.$dirty || form.$submitted ) && form.text.$invalid}">
                                        <div class="form-group">
                                            <label class="control-label col-md-2 label-offset-padding">站内信内容 :</label>
                                            <div class="col-md-8">
                                            <textarea name="text" class="form-control" rows="3" placeholder="请输入"
                                                      maxlength="255" ng-maxlength="255" ng-model="model.text"></textarea>
                                                <div class="help-block"
                                                           ng-show="form.$submitted || form.text.$touched"
                                                           ng-messages="form.text.$error">
                                                <p ng-message="maxlength">站内信内容不能超过255个字符</p>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>